/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.successStyle{
  max-width: 500px;
  display: flex;
 left: 25%;
 right: 25%;
 --height: 70px;
 @media (max-width:600px){

 left: 25px;
 }
}
